<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
<h1> Create Basketball Team</h1>


<form action="/team" method="post">

    <label>Team name: </label>
    <input type="text" name="name" id="name" required>

    <label>Coach: </label>
    <input type="text" name="coach" id="coach" required>

    <label>Point Guard: </label>
    <input type="text" name="pg" id="pg" required>

    <label>Shooting Guard: </label>
    <input type="text" name="sg" id="sg" required>

    <label> Power Forward: </label>
    <input type="text" name="pf" id="pf" required>

    <label>Small Forward: </label>
    <input type="text" name="sf" id="sf" required>

    <label>Center: </label>
    <input type="text" name="c" id="c" required>

    <input type="submit" id="Submit" value="Subscribe!">

</form>

 </body>
</html>
